# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: You're Doing It Wrong!
subtitle: ... with Greg & Mark
# email: your-email@example.com
description: Musings and banter on software and product development.
# baseurl: "" # the subpath of your site, e.g. /blog
url: "https://ydiw.withgregandmark.co.uk" # the base hostname & protocol for your site, e.g. http://example.com
# twitter_username: jekyllrb
# github_username:  jekyll

# Build settings
markdown: kramdown
# theme: minima
plugins:
  - jekyll-feed
  - jekyll-redirect-from

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/


# iTunes Podcast Feed settings

podcast_url: https://ydiw.withgregandmark.co.uk
podcast_album_art: /assets/ydiw.png
podcast_title: You're Doing It Wrong! ... with Greg & Mark
podcast_owner: Greg & Mark
podcast_email: talk@withgregandmark.co.uk
podcast_category: Technology
podcast_subcategory_one: Software How-To
podcast_subcategory_two: Product Development
podcast_explicit: "yes"
podcast_author: Greg & Mark
podcast_description: Musings and banter on software and product development.
podcast_summary: Musings and banter on software and product development.
podcast_subtitle: Musings and banter on software and product development.
