---
layout: default
redirect_to:
  - https://anchor.fm/youredoingitwrong
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

  {%- endif -%}

  <h4>Subscribe:</h4>
  <div class="tooltip">
    <a href="https://anchor.fm/s/69da638/podcast/rss"><img class="pod-app-icon" src="/assets/images/podcast-app-logos/rss.png" alt="RSS"></a>
    <span class="tooltip-text">RSS</span>
  </div>
  <div class="tooltip">
    <a href="https://geo.itunes.apple.com/gb/podcast/feed/id{{ site.podcast_id }}"><img class="pod-app-icon" src="/assets/images/podcast-app-logos/podcasts.png" alt="Apple Podcasts"></a>
    <span class="tooltip-text">Apple Podcasts</span>
  </div>
  <div class="tooltip">
    <a href="http://pca.st/itunes/{{ site.podcast_id }}"><img class="pod-app-icon" src="/assets/images/podcast-app-logos/pocketcasts.png" alt="Pocket Casts"></a>
    <span class="tooltip-text">Pocket Casts</span>
  </div>
  <div class="tooltip">
    <a href="https://overcast.fm/itunes{{ site.podcast_id }}"><img class="pod-app-icon" src="/assets/images/podcast-app-logos/overcast.png" alt="Overcast"></a>
    <span class="tooltip-text">Overcast</span>
  </div>

</div>
